<section id="temperature-resume-info" class="animate__animated animate__fadeInUpBig">
  <div class="ion-text-center">
    <h3 class="city-name"><b>{{ info_GetForCityAndContry.city }}</b></h3>
    <h1 class="city-temperature"><b>{{ info_GetForCityAndContry.temperaturaFormat }}</b></h1>
    <p class="temperature-description"><b>{{ info_GetForCityAndContry.temperatura_description }}</b></p>
    <div>
      <span class="temperature-min ion-margin-horizontal"><b>{{ info_GetForCityAndContry.temperatura_min }}°</b></span>
      <span class="temperature-max ion-margin-horizontal"><b>{{ info_GetForCityAndContry.temperatura_max }}°</b></span>
    </div>
  </div>
</section>