@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

div{
    font-family: 'Rubik', sans-serif;
}

#temperature-resume-info {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-name{
    font-size: 1.8rem;
}

.city-temperature{
    font-size: 4rem;
}
