<ion-card>
  <ion-card-header>
    <ion-card-subtitle class="ion-text-left">Weekly Forecast</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="pastilla-forecast">
            <span class="pastilla-title">Lun</span>
            <img src="../../../assets/weather-icons/hail.png" alt="">
            <span class="pastilla-temperature">15°</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pastilla-forecast">
            <span class="pastilla-title">Mar</span>
            <img src="../../../assets/weather-icons/temperature-cold.png" alt="">
            <span class="pastilla-temperature">36°</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pastilla-forecast">
            <span class="pastilla-title">Mie</span>
            <img src="../../../assets/weather-icons/sun.png" alt="">
            <span class="pastilla-temperature">20°</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pastilla-forecast">
            <span class="pastilla-title">Jue</span>
            <img src="../../../assets/weather-icons/starry-night.png" alt="">
            <span class="pastilla-temperature">25°</span>
          </div>
        </ion-col>
        <ion-col>
          <div class="pastilla-forecast">
            <span class="pastilla-title">Vie</span>
            <img src="../../../assets/weather-icons/rainbow.png" alt="">
            <span class="pastilla-temperature">15°</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>