<ion-card class="animate__animated animate__fadeInUpBig">
  <ion-card-header>
    <ion-card-subtitle class="ion-text-left">Weekly Forecast</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of reurnDayAndTemperature()">
          <div class="pastilla-forecast">
            <span class="pastilla-title">{{ item.substring(0, 3) }}</span>
            <img [src]= "item.split('-')[2]" alt="">
            <span class="pastilla-temperature">{{ item.split('-')[1] }}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>