@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


ion-card {
    background: transparent;
    border-radius: 1.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    //height: 35%;
}

ion-card-content {
    display: inline;
}

.pastilla-forecast{
    //width: 20%;
    //height: 150px;
    //background-color: #4CAF50; /* color de fondo */
    font-family: 'Rubik', sans-serif;
    border-radius: 40px; /* redondeado completo */
    border: 0.5px gray solid;
    //display: flex;
    align-items: center;
    //justify-content: center;
    color: black;
    //font-family: Arial, sans-serif;
    //writing-mode: vertical-rl; /* texto en vertical */
    text-align: center;
    padding: 10px;
};

.pastilla-title{
    font-size: smaller;
}

img{
    margin-top: 50%;
    margin-bottom: 50%;
}