@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

ion-card {
    background: transparent;
    border-radius: 1.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    //height: 35%;
}

ion-card-content {
    display: inline;
}

.pastilla-forecast{
    font-family: 'Rubik', sans-serif;
    border-radius: 40px; /* redondeado completo */
    border: 0.5px gray solid;
    align-items: center;
    color: black;
    text-align: center;
    padding: 10px;
};

.pastilla-title{
    font-size: smaller;
}

img{
    margin-top: 50%;
    margin-bottom: 50%;
}