@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.wind-card {
  font-family: 'Rubik', sans-serif;
  background: transparent;
  border-radius: 1.25rem;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
}

.wind-label {
  //display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.85;
}

.wind-compass {
  height: 6rem;
}