<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="loadWeatherData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!-- Mostrar loading inicial (solo la primera vez si no hay refresher) -->
  <!-- Spinner de carga inicial (mínimo 2 segundos) -->
  <div *ngIf="loading && !weatherData" class="spinner-container animate__animated animate__fadeInUpBig">
    <ion-spinner class="custom-loading" trigger="open-loading"></ion-spinner>
    <p class="spinner-description">Loading...</p>
  </div>
  
  <!-- Cargamos el contenido de los componentes hijos, por las condiciones especificadas-->
  <ion-content *ngIf="!loading && weatherData">
    <app-widget-info-general [info_GetForCityAndContry]="weatherData"></app-widget-info-general>
    <app-widget-clima></app-widget-clima>
    
    <!-- Seccion de los componentes en grilla-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-widget-weekly-forecast></app-widget-weekly-forecast>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-widget-sun [sunrise]="sunrise" [sunset]="sunset"></app-widget-sun>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <app-widget-humidity [humility]="humility"></app-widget-humidity>
        </ion-col>
        <ion-col size="6">
          <app-widget-wind [windSpeed]="windSpeed"></app-widget-wind> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
