<ion-card class="sun-card">
  <ion-card-content>
    <div class="sun-label">
      <ion-icon name="sunny-outline" class="ion-margin-end" color="dark"></ion-icon>
      <span>SUNRISE</span>
    </div>
    <div class="sun-time">{{ sunrise }}</div>

    <svg viewBox="0 0 600 200" class="chart">
      <path d="M 0 150 C 150 0 450 0 600 150" fill="none" stroke="#009CAE" stroke-width="4" />
      <circle cx="270" cy="40" r="15" fill="#ec6e4c" stroke="#ec6e4c" stroke-width="4" />
      <line x1="0" y1="150" x2="600" y2="150" stroke="#4b5563" stroke-width="1" />
    </svg>

    <div class="sunset-time">
      <ion-icon name="partly-sunny-outline" class="ion-margin-end" color="dark"></ion-icon>
      <span>SUNSET: {{ sunset }}</span>
    </div>
  </ion-card-content>
</ion-card>