@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


img {
    max-width: 200px;
}

.container {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_info {
  font-family: 'Rubik', sans-serif;
}